<!--Test -->
<launch>
  
  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find robot_gz)/config/irb120_controlE.yaml" command="load"/>

  <!-- load the controllers -->
  <!--  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/robot" args="joint_state_controller
					   joint_1_position_controller
					   joint_2_position_controller
					   joint_3_position_controller
					   joint_4_position_controller
  					   joint_5_position_controller
					   joint_6_position_controller"/>

-->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" ns="/robot" args="
					   joint_1_position_controller
					   joint_2_position_controller
					   joint_3_position_controller
					   joint_4_position_controller
  					   joint_5_position_controller
					   joint_6_position_controller joint_state_controller --shutdown-timeout 3 "/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/irb120/joint_states" />
  </node>

</launch>


